* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*_________________TOPBAR_____________ */
.topbar {
  background-color: black;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-self: center;
  font-family: Arial, sans-serif;
  font-size: 12px;
  flex-wrap: wrap;
  text-align: center;
  padding-top: 10px;
}

.topbar p{
  color: white;
}

/* _________________-NAVBAR  ________________ */
.navbar {
  width: 100%;
  height: 150px;
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: white;
}

.onenavbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 20px;
}

.socialicons {
  display: flex;
  gap: 15px;
  font-size: large;
}
.socialicons i:hover {
  color: orange;
  transition: all 0.3s ease-in-out;
}

.logo {
  background-color: none;
}

.logo img {
  width: 170px;
}
.icons {
  display: flex;
  gap: 15px;
  font-size: large;
}

.icons i:hover {
  color: orange;
  transition: all 0.3s ease-in-out;
}

.twonavbar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.navlinks {
  display: flex;
  gap: 20px;
  font-size: 14px;
  font-family: Arial, sans-serif;
  list-style-type: none;
  padding-top: 20px;
  text-transform: capitalize;
}
#new-arrival {
  color: green;
}

#categories {
  background: none;
  border: none;
  font-size: 14px;
  text-transform: capitalize;
}

#categories:hover,
li:hover,
#new-arrival:hover {
  color: orange;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

/*____________________ HERO SECTION -______________________- */

.hero {
  width: 100%;
  /* height: auto; */
  height: 100%;
  
}

.hero-image img {
  background-size: cover;
  width: 100%;
}

.whatsapp-image {
  position: relative;
  right: 25px;
  bottom: 40px;
  position: fixed;
}

.whatsapp-image img {
  width: 70px;
  height: 70px;
}

/* .whatsapp-image img:hover{
  color: rgb(14, 38, 63);
  cursor: pointer;
  transition: all 0.7 ease-in-out;
} */

/* <!-- __________________SHOP BY CATEGORY __________________________ --> */
.shop-category {
  width: 100%;
  display: flex;
  justify-content: center;
  height: auto;
  padding-top: 30px;
}

.shop-head {
  font-family: Arial, sans-serif;
  font-size: 12px;
  color: black;
  text-transform: capitalize;
  padding-bottom: 20px;
  text-align: center;
  padding-top: 40px;
}

.category {
  width: 80%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  cursor: pointer;
}

/* ___________________BEST SELLINGS ____________________ */
.best-selling {
  width: 100%;
}

.best-child {
  width: 75%;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.top-main {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.top-main h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  color: black;
  padding: 50px 0px;
}

.top-main button {
  background-color: black;
  border: none;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  padding: 10px 50px;
  cursor: pointer;
  text-transform: capitalize;
  margin-right: 10px;
}

.bottom-main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 20px;
}

/* ----------------------------------------------
 * Generated by Animista on 2025-6-11 14:40:48
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-top
 * ----------------------------------------
 */
@keyframes fade-in-bottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.item {
  animation: fade-in-bottom 0.75s cubic-bezier(0.23, 1, 0.32, 1) both;
}

.item {
  text-align: center;
  padding: 10px 10px;
}

.item h2 {
  font-size: 15px;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px 0px;
}

.item img,
h2:hover {
  color: orange;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}
.item p {
  padding: 5px 0px;
}

.item del,
span {
  color: gray;
}

.item ins {
  text-decoration: none;
  color: orange;
}

.item i {
  font-size: 10px;
}

/*_________________________________________________ FOOTER __________________________________________________________ */

.footer {
  background-color: #f6f6f8;
  display: flex;
  width: 100%;
  justify-content: center;
  height: auto;
  align-items: center;
  flex-wrap: wrap;
}

.fchild {
  display: flex;
  justify-content: center;
  width: 85%;
  font-family: Arial, Helvetica, sans-serif;
  flex-wrap: wrap;
  gap: 40px;
  margin-top: 50px;
}

.fchild h3,
p {
  font-weight: 500;
  font-size: 17px;
  padding-bottom: 50px;
}

.fchild ul,
h3 {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.fchild li,
p {
  list-style-type: none;
  color: #a9a9a9;
  font-size: 15px;
}

.fchild li:hover {
  color: orange;
}
.f1-child {
  display: flex;
  flex-direction: column;
}

.f2-child {
  display: flex;
  flex-direction: column;
}

.f3-child {
  display: flex;
  flex-direction: column;
}

.f4-child {
  display: flex;
  flex-direction: column;
}

.f4-child input {
  background-color: #f6f6f8;
  width: 370px;
  height: 45px;
  border-radius: 20px;
  padding-left: 10px;
  color: #a9a9a9;
  font-size: 15px;
  border: 2px solid #d4d4d5;
}

.f4-child button {
  font-size: 12px;
  padding: 5px 20px;
  border-radius: 10px 200px 200px 0px;
  -webkit-border-radius: 10px 200px 200px 0px;
  -moz-border-radius: 10px 200px 200px 0px;
  background-color: black;
  color: white;
  position: relative;
  right: 105px;
  height: 37px;
  border: none;
}

.fchild button:hover {
  background-color: orange;
}

.big-h {
  font-size: large;
  font-weight: bold;
  color: rgb(91, 90, 90);
}

.bnb {
  color: orange;
}

.f-icons {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
}

.f-icons i {
  font-size: 20px;
  color: rgb(59, 58, 58);
}

.f-icons i:hover {
  color: orange;
  transition: all 0.7 ease-in-out;
}

#tag-0 {
  width: 300px;
  padding-top: 20px;
}

#tags {
  position: relative;
  top: 50px;
  width: 300px;
}

/* -___________________________NEW ARRIVAL_____________________________ */


 .new-head {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.new-child{
   width: 85%;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.new-head h1{
   font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  color: black;
  padding: 50px 0px;
}


.new-item img{
  width: 180px;
  padding: 5px 15px;
}